@charset "UTF-8";
section {
  width: 100%;
  /***********引擎***********/
  /***********优势***********/
  /***********家族***********/
  /***********精彩游戏***********/
  /***********合作***********/ }
  section .tu {
    background: #2b80d9;
    text-align: center; }
  section .yinqing {
    background: #fbfaf7;
    padding-top: 105px;
    padding-bottom: 50px;
    border-bottom: 1px solid #eaeaee; }
    section .yinqing .shang_juli {
      margin-top: 35px; }
    section .yinqing .shang {
      padding-top: 15px; }
    section .yinqing .font_yq {
      font-size: 48px;
      color: #0078d7;
      font-weight: bold; }
    section .yinqing .font_js {
      font-size: 30px;
      color: #666666; }
    section .yinqing .tu {
      width: 64px;
      height: 64px;
      border-radius: 5px; }
    section .yinqing .yq {
      font-size: 19px;
      color: #333333; }
    section .yinqing .yq_js {
      font-size: 14px;
      color: #666666; }
    section .yinqing .xinxi {
      margin-top: 80px; }
    section .yinqing .bottom {
      margin-bottom: 30px; }
    section .yinqing .yq_01 {
      background: url(../images/yq_01.png);
      -webkit-transition: all 800ms ease-in-out;
      transition: all 800ms ease-in-out; }
      section .yinqing .yq_01:hover {
        background: url(../images/yq_g_01.png);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        -webkit-transition: all 800ms ease-in-out;
        transition: all 800ms ease-in-out; }
    section .yinqing .yq_02 {
      background: url(../images/yq_02.png);
      -webkit-transition: all 800ms ease-in-out;
      transition: all 800ms ease-in-out; }
      section .yinqing .yq_02:hover {
        background: url(../images/yq_g_02.png);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        -webkit-transition: all 800ms ease-in-out;
        transition: all 800ms ease-in-out; }
    section .yinqing .yq_03 {
      background: url(../images/yq_03.png);
      -webkit-transition: all 800ms ease-in-out;
      transition: all 800ms ease-in-out; }
      section .yinqing .yq_03:hover {
        background: url(../images/yq_g_03.png);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        -webkit-transition: all 800ms ease-in-out;
        transition: all 800ms ease-in-out; }
    section .yinqing .yq_04 {
      background: url(../images/yq_04.png);
      -webkit-transition: all 800ms ease-in-out;
      transition: all 800ms ease-in-out; }
      section .yinqing .yq_04:hover {
        background: url(../images/yq_g_04.png);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        -webkit-transition: all 800ms ease-in-out;
        transition: all 800ms ease-in-out; }
  section .youshi {
    background: #fff;
    padding-top: 112px;
    padding-bottom: 110px; }
    section .youshi .font_youshi {
      font-size: 48px;
      color: #8fc31f;
      font-weight: bold; }
    section .youshi .top {
      margin-top: 60px; }
    section .youshi .explain {
      padding-top: 30px; }
      section .youshi .explain li {
        padding-top: 10px;
        padding-bottom: 10px; }
        section .youshi .explain li .yuan {
          width: 54px;
          height: 54px;
          border-radius: 50%;
          float: left;
          margin: 0 10px; }
        section .youshi .explain li .ys_01 {
          background: url(../images/ys_01.png) no-repeat;
          -webkit-transition: all 800ms ease-out;
          transition: all 800ms ease-out; }
          section .youshi .explain li .ys_01:hover {
            -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
            -webkit-transition: all 800ms ease-in;
            transition: all 800ms ease-in; }
        section .youshi .explain li .ys_02 {
          background: url(../images/ys_02.png) no-repeat;
          -webkit-transition: all 800ms ease-out;
          transition: all 800ms ease-out; }
          section .youshi .explain li .ys_02:hover {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
            -webkit-transition: all 800ms ease-in;
            transition: all 800ms ease-in; }
        section .youshi .explain li .ys_03 {
          background: url(../images/ys_03.png) no-repeat;
          -webkit-transition: all 800ms ease-out;
          transition: all 800ms ease-out; }
          section .youshi .explain li .ys_03:hover {
            -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
            -webkit-transition: all 800ms ease-in;
            transition: all 800ms ease-in; }
        section .youshi .explain li .ys_04 {
          background: url(../images/ys_04.png) no-repeat;
          -webkit-transition: all 800ms ease-out;
          transition: all 800ms ease-out; }
          section .youshi .explain li .ys_04:hover {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
            -webkit-transition: all 800ms ease-in;
            transition: all 800ms ease-in; }
        section .youshi .explain li .font_16 {
          font-size: 16px;
          color: #666666;
          margin-bottom: 0px;
          line-height: 54px; }
  section .jiazu {
    background: #0079d7;
    padding-top: 115px;
    padding-bottom: 66px; }
    section .jiazu .title {
      font-size: 48px;
      color: #fff;
      text-align: center; }
    section .jiazu .content {
      padding-top: 30px;
      padding-bottom: 30px; }
    section .jiazu .ti {
      font-size: 32px;
      color: #FFF; }
    section .jiazu .shuoming {
      font-size: 14px;
      color: #fff; }
    section .jiazu .jz_tu {
      width: 64px;
      height: 64px;
      overflow: hidden; }
    section .jiazu .gao {
      height: 100px; }
    section .jiazu .tu_01 {
      background: url(../images/jz_01.png) no-repeat center;
      -webkit-transition: all 800ms ease-out;
      transition: all 800ms ease-out; }
      section .jiazu .tu_01:hover {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
        -webkit-transition: all 800ms ease-in;
        transition: all 800ms ease-in; }
    section .jiazu .tu_02 {
      background: url(../images/jz_02.png) no-repeat center;
      -webkit-transition: all 800ms ease-out;
      transition: all 800ms ease-out; }
      section .jiazu .tu_02:hover {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
        -webkit-transition: all 800ms ease-in;
        transition: all 800ms ease-in; }
    section .jiazu .tu_03 {
      background: url(../images/jz_03.png) no-repeat center;
      -webkit-transition: all 800ms ease-out;
      transition: all 800ms ease-out; }
      section .jiazu .tu_03:hover {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
        -webkit-transition: all 800ms ease-in;
        transition: all 800ms ease-in; }
    section .jiazu .tu_04 {
      background: url(../images/jz_04.png) no-repeat center;
      -webkit-transition: all 800ms ease-out;
      transition: all 800ms ease-out; }
      section .jiazu .tu_04:hover {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
        -webkit-transition: all 800ms ease-in;
        transition: all 800ms ease-in; }
    section .jiazu .tu_05 {
      background: url(../images/jz_05.png) no-repeat center;
      -webkit-transition: all 800ms ease-out;
      transition: all 800ms ease-out; }
      section .jiazu .tu_05:hover {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
        -webkit-transition: all 800ms ease-in;
        transition: all 800ms ease-in; }
    section .jiazu .tu_06 {
      background: url(../images/jz_06.png) no-repeat center;
      -webkit-transition: all 800ms ease-out;
      transition: all 800ms ease-out; }
      section .jiazu .tu_06:hover {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
        -webkit-transition: all 800ms ease-in;
        transition: all 800ms ease-in; }
    section .jiazu .bottom {
      padding-bottom: 30px; }
  section .game {
    padding-top: 85px;
    padding-bottom: 85px;
    /**游戏图标**/ }
    section .game .font_yx {
      font-size: 34px; }
    section .game .gengduo {
      font-size: 14px;
      color: #000;
      padding-top: 8px;
      display: inline-block; }
      section .game .gengduo:hover {
        color: red;
        text-decoration: none; }
    section .game .juli_s {
      padding-top: 20px; }
    section .game .juli_x {
      padding-right: 20px; }
    section .game .media {
      position: relative;
      overflow: hidden;
      border-radius: 5px;
      width: 100%;
      margin: 0 auto; }
      section .game .media video {
        width: 100%;
        border-radius: 8px; }
    section .game .game_icon {
      width: 100%;
      padding-top: 15px;
      text-align: center; }
      section .game .game_icon .tu {
        width: 72px;
        height: 72px;
        margin: 5px auto; }
      section .game .game_icon .name {
        font-size: 14px;
        color: #2a2a2a; }
  section .hezuo {
    background: #f4f4f4;
    padding-top: 40px;
    padding-bottom: 46px; }
    section .hezuo .font_hz {
      font-size: 30px;
      color: #2a2a2a; }
      section .hezuo .font_hz #zhushi {
        font-size: 12px;
        color: #777777; }
    section .hezuo .juli {
      padding-top: 20px;
      padding-bottom: 20px;
      padding-right: 15px; }

@media (max-width: 768px) {
  section .game .font_yx {
    font-size: 20px; }
  .gengduo {
    padding-top: 2px; }
  .top {
    padding-left: 8.33333333%;
    padding-right: 8.33333333%; } }

@media (min-width: 768px) and (max-width: 992px) {
  .left {
    margin-left: 8.33333333%; } }

@media (min-width: 992px) and (max-width: 1200px) {
  section .game .game_icon {
    padding-top: 2px; } }
